<h2>datatable works!</h2>
<div class="mat-elevation-z8" >


  <!-- table header -->
  <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs=" start center" fxLayoutAlign="space-between none" class="pa2" >
    <!-- new button -->
    <button mat-button class="" [disabled]="isLoading" color="primary" (click)="openModal(detailsModal,null)">
      <i class="material-icons" >add</i>
      New
    </button>
    <!-- <span class="spacer"></span> -->
    <!-- search feild -->
    <mat-form-field class="" >
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <table mat-table  [dataSource]="dataSource "  matSort >
      <!-- append data -->
      <ng-container  *ngFor="let column of columns" matColumnDef="{{column.columnDef}}" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.header}} </th>
        <td mat-cell *matCellDef="let row" > {{row[column.columnDef]}} </td>
      </ng-container>
    
       <!-- columns definition -->
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns" class="h" (click)="openModal(detailsModal,row)"></tr>
       
  </table>
  
  <!-- table is loading -->
  <mat-card *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
  </mat-card>
  <!-- pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!--
  -- ─── ADD DETAILS EDIT DELETE ─────────────────────────────────────────────────────────────────────
  -->
  
<ng-template #detailsModal>
  <div class="modalDiv">
  <div class="flex  "  >
    <h1 mat-dialog-title class="mid-gray ">{{add? 'Add':'Details'}}</h1>
    <span class="spacer"></span>
    <!-- edit button -->
    <button mat-button color="warn" 
    [hidden]="add"
    (click)="onDelClick()"> <strong >Delete</strong> <mat-icon matSuffix class="mh2">delete</mat-icon></button>
    <button mat-button color="accent" 
    [hidden]="add"
    (click)="editToggle()"> <strong >Edit</strong> <mat-icon matSuffix class="mh2">edit</mat-icon></button>

  </div>
    <!-- form -->
    <form [formGroup]="dtFG"  >
      <ng-container *ngFor="let elem of columns">


        <!-- mat-input types -->
        <ng-container *ngIf="elem.type==='text'||elem.type==='email'||elem.type==='password'||elem.type==='number'||elem.type==='color'||elem.type==='date'||elem.type==='datetime-local'||elem.type==='month'||elem.type==='time'||elem.type==='url'||elem.type==='week'||elem.type==='tel'" >
          <mat-form-field  class="inputfield"  [hidden]="add && elem.columnDef=='id'">
                <input 
                  matInput
                  [readonly]="elem.columnDef=='id'"            
                  formControlName="{{elem.columnDef}}"
                  type="{{elem.type==='radio'? 'text':elem.type}}"
                  placeholder="{{elem.header}}" 
                >
                <mat-error *ngIf="dtFG.controls[elem.columnDef].invalid && dtFG.controls[elem.columnDef].touched">{{getErrorMsg(dtFG.controls[elem.columnDef].errors,elem.columnDef)}}</mat-error>
          </mat-form-field>
        </ng-container>


        <!-- text area -->
        <ng-container *ngIf="elem.type==='textarea'" >
            <mat-form-field  class="inputfield"  [hidden]="add && elem.columnDef=='id'">
                  <textarea 
                    matInput
                    [readonly]="elem.columnDef=='id'"            
                    formControlName="{{elem.columnDef}}"
                    type="{{elem.type==='radio'? 'text':elem.type}}"
                    placeholder="{{elem.header}}" 
                  ></textarea>
            </mat-form-field>
            <mat-error *ngIf="dtFG.controls[elem.columnDef].invalid && dtFG.controls[elem.columnDef].touched">{{getErrorMsg(dtFG.controls[elem.columnDef].errors,elem.columnDef)}}</mat-error>
          </ng-container>

        <!-- select -->
        <ng-container *ngIf="elem.type==='select'">
          <mat-form-field class="inputfield">
             <mat-select placeholder="{{elem.header}}" formControlName="{{elem.columnDef}}" >
                <mat-option *ngFor="let option of elem.options" value="{{option}}">
                      {{option}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="dtFG.controls[elem.columnDef].invalid">{{getErrorMsg(dtFG.controls[elem.columnDef].errors,elem.columnDef)}}</mat-error>
          </mat-form-field>
        </ng-container>


        <!-- boolean -->
        <ng-container *ngIf="elem.type==='bool'||elem.type==='boolean'">
          <div  class="inputfield" >
            <mat-checkbox labelPosition='before' formControlName="{{elem.columnDef}}" class="f6 gray">{{elem.header}} : <span class="black fw5 f5   ">{{dtFG.controls[elem.columnDef].value}}</span></mat-checkbox>
            <mat-error *ngIf="dtFG.controls[elem.columnDef].invalid"><sub>{{getErrorMsg(dtFG.controls[elem.columnDef].errors,elem.columnDef)}}</sub></mat-error>
          </div>
          </ng-container>
          
                  <!-- radio -->
          <ng-container *ngIf="elem.type==='radio'">
            <div class="inputfield">
              <fieldset >
                <legend class="f6    ph3 gray">{{elem.header}} : <span class="black fw5 f5   ">{{dtFG.controls[elem.columnDef].value}}</span></legend>
                      <mat-radio-group formControlName="{{elem.columnDef}}" class="radio-group"    >
                        <mat-radio-button 
                          class="pa1"
                            *ngFor="let option of elem.options" 
                            value="{{option}}"
                          >{{option}}
                        </mat-radio-button>
                      </mat-radio-group>
              </fieldset>
              <mat-error *ngIf="dtFG.controls[elem.columnDef].invalid"><sub>{{getErrorMsg(dtFG.controls[elem.columnDef].errors,elem.columnDef)}}</sub></mat-error>
            </div>
            </ng-container>
      </ng-container>
    </form>
    
    
    <!-- actions -->
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button  type="submit"  cdkFocusInitial [disabled]="!dtFG.valid"  (click)="onSubmit()" color="primary">{{add? 'Add':'Save'}}</button>
    </mat-dialog-actions>
  </div>
</ng-template>



  

